In [9]:
import numpy as np
import pandas as pd
import seaborn as sns
import re
import string
import nltk

In [10]:
df = pd.read_csv("Resume.csv")

In [11]:
df.head()

,Filename,Text,Category
0,Internship_Ravali_Musquare Technologies (1).docx,Name: Ravali P \r\n\r\n ...,React JS Developer
1,Internship_Susovan Bag_Musquare Technologies.docx,\r\nSUSOVAN BAG \r\nSeeking a challengi...,React JS Developer
2,React Developer_Deepakreddy.docx,Kanumuru Deepak Reddy\r\n\r\n\r\n\r\nCAREER OB...,React JS Developer
3,React Developer_Haripriya.docx,HARIPRIYA BATTINA \r\nExperience as UI Develop...,React JS Developer
4,React Developer_Kamalakar Reddy.docx,KAMALAKAR REDDY. A \r\nLinked In: https://www....,React JS Developer

In [14]:
df.drop(columns=['Filename'],inplace=True)

In [15]:
df.head()

                                                Text            Category
0  Name: Ravali P \r\n\r\n                       ...  React JS Developer
1    \r\nSUSOVAN  BAG   \r\nSeeking  a  challengi...  React JS Developer
2  Kanumuru Deepak Reddy\r\n\r\n\r\n\r\nCAREER OB...  React JS Developer
3  HARIPRIYA BATTINA \r\nExperience as UI Develop...  React JS Developer
4  KAMALAKAR REDDY. A \r\nLinked In: https://www....  React JS Developer

In [4]:
df["Text"].isna().sum()

0

In [5]:
df.shape

(79, 3)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Filename  79 non-null     object
 1   Text      79 non-null     object
 2   Category  79 non-null     object
dtypes: object(3)
memory usage: 2.0+ KB

In [7]:
df.describe()

,Filename,Text,Category
count,79,79,79
unique,79,79,4
top,Internship_Ravali_Musquare Technologies (1).docx,Name: Ravali P \r\n\r\n ...,React JS Developer
freq,1,1,24