In [1]:
# importing basic libraries
import os
import textract
import docx2txt
import pandas as pd
from io import StringIO
from docx import Document
from PyPDF2 import PdfReader

ModuleNotFoundError: No module named 'docx'

In [ ]:
# Function to extract text from a PDF file
def extract_text_from_pdf(pdf_path):
    text = ""
    with open(pdf_path, 'rb') as file:
        reader = PdfReader(file)
        for page_num in range(len(reader.pages)):
            text += reader.pages[page_num].extract_text()
    return text

# Function to extract text from a DOCX file
def extract_text_from_docx(docx_path):
    try:
        doc = Document(docx_path)
        text = ""
        for paragraph in doc.paragraphs:
            text += paragraph.text + "\n"
        return text
    except Exception as e:
        print(f"Error extracting text from {docx_path}: {e}")
        return ""

# Function to extract text from a DOC file
def extract_text_from_doc(doc_path):
    try:
        # Use textract to extract text from .doc files
        text = textract.process(doc_path).decode('utf-8')
        return text
    except Exception as e:
        print(f"Error extracting text from {doc_path}: {e}")
        return ""

# Function to create a DataFrame from text files in a folder
def create_dataframe_from_files(folder_path):
    data = []
    for filename in os.listdir(folder_path):
        file_path = os.path.join(folder_path, filename)
        if filename.endswith('.pdf'):
            text = extract_text_from_pdf(file_path)
        elif filename.endswith('.docx'):
            text = extract_text_from_docx(file_path)
        elif filename.endswith('.doc'):
            text = extract_text_from_doc(file_path)
        else:
            continue
        data.append({'Filename': filename, 'Text': text, 'Category': 'React JS Developer'})
    df = pd.DataFrame(data)
    return df

folder_path = 'Resumes'

# Create a DataFrame from resumes in the specified folder
df1 = create_dataframe_from_files(folder_path)

In [3]:
df1

,Filename,Text,Category
0,Internship_Ravali_Musquare Technologies (1).docx,Name: Ravali P \n\n ...,React JS Developer
1,Internship_Susovan Bag_Musquare Technologies.docx,\nSUSOVAN BAG \nSeeking a challenging ...,React JS Developer
2,React Developer_Deepakreddy.docx,Kanumuru Deepak Reddy\n\n\n\nCAREER OBJECTIVE:...,React JS Developer
3,React Developer_Haripriya.docx,HARIPRIYA BATTINA \nExperience as UI Developer...,React JS Developer
4,React Developer_Kamalakar Reddy.docx,KAMALAKAR REDDY. A \nLinked In: https://www.li...,React JS Developer
5,React Developer_Naveen sadhu.docx,\nNaveen Sadhu\n\n\nTitle: software developer\...,React JS Developer
6,React Developer_PavasGoswami.doc,\r\n [pic]\r\n\r\nPROFILE\r\n\r\n Searching fo...,React JS Developer
7,React Developer_Pragnya.docx,\nPRAGNYA PATTNAIK\n \n \n \n Expertise: \n \...,React JS Developer
8,React Developer_Sarala Madasu-converted.docx,"\n\nî¥‡ 204,Sri geethika prestige,road number 10...",React JS Developer
9,React Developer_Thirupathiamma.docx,\n\nThirupathamma Balla\n\nSUMMARY:\n\n2.8 yea...,React JS Developer
10,React Developer_Vinay Reddy.doc,\r\nMaryala Vinay Reddy\r\n\r\nProfessional Su...,React JS Developer
11,React Dev_Krishna Kanth.docx,\nUi-Developer/ React JS Developer \nNAME: KRI...,React JS Developer
12,React Dev_Krishna Kanth_Musquare Technologies....,\nUi-Developer/ React JS Developer \nNAME: KRI...,React JS Developer
13,React JS Developer_AnjaniPriyadarshini.doc,\r\n CURRICULUM V...,React JS Developer
14,React JS Developer_KotaniDurgaprasad[3_1] (1)-...,Kotani Durga Prasad\n\n\nObjective:\n\nAspiran...,React JS Developer
15,React JS Developer_Venkatalakshmi (1)-converte...,Venkatalakshmi Pedireddy\nSoftware Developer\n...,React JS Developer
16,Reactjs Developer_kambala sai surendra_Musquar...,KAMBALA SAI SURENDRA \n \n\tMandepeta \t \n ...,React JS Developer
17,Reactjs Developer_M Lokesh Babu_Musquare Techn...,MAREEDU LOKESH BABU\nPROFESSIONAL OVERVIEW\n ...,React JS Developer
18,Reactjs Developer_M Lokesh.docx,MAREEDU LOKESH BABU\n\nPROFESSIONAL OVERVIEW\n...,React JS Developer
19,Reactjs Developer_MD Khizaruddin Rauf _Musquar...,MD KHIZARUDDIN RAUF \n \t EXPERIENCE \n \n...,React JS Developer
20,Reactjs Developer_Prabakaran_Musquare Technolo...,\nPage | 1 \n Name: M. Prabakaran \nTitle...,React JS Developer
21,Reactjs Developer_Pranish Sonone_Musquare Tech...,\nPranish Sonone\n\t\n\n\n\n\nCareer summary:\...,React JS Developer
22,Reactjs Developer_Ranga Gaganam_Musquare Techn...,Ranga Gaganam \n \n \nHaving 1+ years of succ...,React JS Developer
23,Reactjs Developer_Shaik Abdul Sharuk_Musquare ...,SHAIK ABDUL SHARUK \n2 yearsâ€™ Experience in ...,React JS Developer

In [4]:
df1.head()

,Filename,Text,Category
0,Internship_Ravali_Musquare Technologies (1).docx,Name: Ravali P \n\n ...,React JS Developer
1,Internship_Susovan Bag_Musquare Technologies.docx,\nSUSOVAN BAG \nSeeking a challenging ...,React JS Developer
2,React Developer_Deepakreddy.docx,Kanumuru Deepak Reddy\n\n\n\nCAREER OBJECTIVE:...,React JS Developer
3,React Developer_Haripriya.docx,HARIPRIYA BATTINA \nExperience as UI Developer...,React JS Developer
4,React Developer_Kamalakar Reddy.docx,KAMALAKAR REDDY. A \nLinked In: https://www.li...,React JS Developer

In [5]:
df1.describe()

,Filename,Text,Category
count,24,24,24
unique,24,24,1
top,Internship_Ravali_Musquare Technologies (1).docx,Name: Ravali P \n\n ...,React JS Developer
freq,1,1,24

In [6]:
df1['Text'][0]

'Name: Ravali P \n\n                                                                             Curriculum Vitae \n                                          Specialization: BE (computer science and Engg)   \n\n \nTo utilize my technical skills for achieving the target and developing the best performance in organization. \n \n \n\n \n \t \n \nMANUAL TESTING SKILLS \n \n   Strong knowledge in SDLC concepts. \n   Extensive knowledge in White Box Testing. \n   Good knowledge in Functional testing, Integration testing, \n   Extreme Knowledge on System Testing \n   Good knowledge in Adhoc Testing, Reliability testing.    Good Knowledge on Exploratory Testing    Good knowledge in STLC concepts. \n   Good knowledge in Test cases and Test scenarios. \n   Good knowledge in globalization testing, compatibility testing.    Through Knowledge on Regression Testing    Good  knowledge in Test plan.\n \n   \n     AGILE METHDOLOGY \n \n   Good knowledge on Scrum Methodology.    Expertise in Sprint Planning Meeting. \n   Good knowledge on Scrum Meeting \n   Extreme knowledge on Sprint Retrospective Meeting \n   Good knowledge on Product Backlog Meeting and Bug Triage Meeting. \n   Extreme Knowledge on Normalization \n \n \n \nJAVA SKILLS \n \n   Good knowledge on Method Overloading and Method Overriding. \n   Good understanding on Static and NonStatic. \n   Good understanding on Variables. \n   Good knowledge on Constructor. \n   Good knowledge in Abstraction. \n   Good knowledge in Encapsulation. \n   Good knowledge in Inheritance. \n   Good knowledge in Collections. \n \n \n \n \t \n \n \nTRAINING OR COURSES:- \t \n \n \n \n \n \n  \n \n     \n  INDUSTRIAL EXPOSURE:- \t \n \n ACHIEVEMENTS:- \t \n     \t  Iâ€™m certified in â€˜Cyber Securityâ€™ Training at SJBIT in Bengaluru \n     \t  Iâ€™m certified in Volleyball Olympics in Distict level  \n      ASSIGNEMENTS \n \n   I have identified 100 Functional Test cases on Flipkart.com \n   I have identified 200 Integration Test cases on WhatsApp \n   I have identified 200 Integration Test cases on  Amazon.com \n   I have found 100 defects while doing FT, Usability, Camaptibility, Globalization Testing \n \n STRENGTHS \n \n\n \nDATE OF BIRTH:                                     04/11/1995 \n \nGENDER:                                                     Female              \nFATHER NAME:                                     Fasala Reddy N \nLANGUAGES KNOWN:                         English, Telugu,Kannada,Hindi \n \n \nNATIONALITY:                                        Indian. \n \nADDRESS:                                                 Thirumaladevarahalli(v),Parthihalli(p)                                                                Kodigenahalli(H),Madhugiri(T),Tumkur(D)                                                           state: Karnataka \n \n\n \nI hereby declare that all the above-mentioned information is true to the best of my knowledge. \n                                                                                                                                              \n                                                                                                                                             Yourâ€™Sincerely \n                                                                                                                                                    Ravali P                                               \nPlace: Bangalore                                                                                          \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \t \n'

In [7]:
# Function to extract text from a PDF file
def extract_text_from_pdf(pdf_path):
    text = ""
    with open(pdf_path, 'rb') as file:
        reader = PdfReader(file)
        for page_num in range(len(reader.pages)):
            text += reader.pages[page_num].extract_text()
    return text

# Function to extract text from a DOCX file
def extract_text_from_docx(docx_path):
    try:
        doc = Document(docx_path)
        text = ""
        for paragraph in doc.paragraphs:
            text += paragraph.text + "\n"
        return text
    except Exception as e:
        print(f"Error extracting text from {docx_path}: {e}")
        return ""

# Function to extract text from a DOC file
def extract_text_from_doc(doc_path):
    try:
        # Use textract to extract text from .doc files
        text = textract.process(doc_path).decode('utf-8')
        return text
    except Exception as e:
        print(f"Error extracting text from {doc_path}: {e}")
        return ""

# Function to create a DataFrame from text files in a folder
def create_dataframe_from_files(folder_path):
    data = []
    for filename in os.listdir(folder_path):
        file_path = os.path.join(folder_path, filename)
        if filename.endswith('.pdf'):
            text = extract_text_from_pdf(file_path)
        elif filename.endswith('.docx'):
            text = extract_text_from_docx(file_path)
        elif filename.endswith('.doc'):
            text = extract_text_from_doc(file_path)
        else:
            continue
        data.append({'Filename': filename, 'Text': text, 'Category': 'Peoplesoft'})
    df = pd.DataFrame(data)
    return df

# Create a DataFrame from resumes in the specified folder
folder_path = 'Resumes/Peoplesoft resumes'
df2 = create_dataframe_from_files(folder_path)

In [8]:
df2

,Filename,Text,Category
0,Peoplesoft Admin_AnubhavSingh.docx,Anubhav Kumar Singh\t\t\n\n To work in a gl...,Peoplesoft
1,Peoplesoft Admin_G Ananda Rayudu.doc,\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\nProfile Su...,Peoplesoft
2,Peoplesoft Admin_Gangareddy.doc,\r\n PeopleSoft Database ...,Peoplesoft
3,Peoplesoft Admin_Murali.docx,Murali\n\nExperience Summary \n\nI have 6 year...,Peoplesoft
4,Peoplesoft Admin_Priyanka Ramadoss.doc,"\r\nPriyanka Ramadoss\r\n\r\n61/46, MountPleas...",Peoplesoft
5,Peoplesoft Admin_SirazuddinMohammad.docx,\n\n\n\n\n\n\n\n\n\n\n\n\n\nPROFILE SUMMARY\n\...,Peoplesoft
6,Peoplesoft Admin_srinivasarao.doc,\r\n PEOPLESOFT Admin...,Peoplesoft
7,Peoplesoft Admin_Varkala Vikas.docx,PeopleSoft Admin\nVARKALA VIKAS\n\nCareer Obj...,Peoplesoft
8,Peoplesoft Admin_Vinod Akkala.doc,\r\nVinod Akkala\r\nPeopleSoft DBA Admin.\r\n\...,Peoplesoft
9,PeopleSoft DBA_Ganesh Alladi.doc,\r\n PeopleSoft Admin/P...,Peoplesoft
10,PeopleSoft DBA_Vivekanand Sayana.docx,PeopleSoft Administration\n \nVivekanand Sayan...,Peoplesoft
11,Peoplesoft Finance_Arun Venu.doc,\r\nArun Venu\r\n\r\n\r\n EXPERIENCE SUMMARY\...,Peoplesoft
12,Peoplesoft Finance_Pritam Biswas.doc,\r\n|Personal Details ...,Peoplesoft
13,Peoplesoft Finance_Rahul Ahuja.doc,\r\nRahul Ahuja\r\n---------------------------...,Peoplesoft
14,Peoplesoft FSCM_HariNarayana.docx,\nHaving 4.6 years of experience in PeopleSoft...,Peoplesoft
15,Peoplesoft FSCM_Murali.docx,\nHaving 4.6 years of experience in PeopleSoft...,Peoplesoft
16,Peoplesoft FSCM_PriyabrataHota.docx,\n\nCAREER OBJECTIVE\t\t\n\nPursuing Peopleso...,Peoplesoft
17,Peoplesoft FSCM_R Ahmed.doc,\r\n\r\nR Ahmed\r\n P...,Peoplesoft
18,Peoplesoft FSCM_SUJATHA.docx,Tanna Sujatha \n\n\n\nOBJECTIVE\nSeeking a cha...,Peoplesoft
19,Resume_Subha Santosh_Peoplesoft FSCM.docx,\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nC O N ...,Peoplesoft

In [9]:
df2.head()

,Filename,Text,Category
0,Peoplesoft Admin_AnubhavSingh.docx,Anubhav Kumar Singh\t\t\n\n To work in a gl...,Peoplesoft
1,Peoplesoft Admin_G Ananda Rayudu.doc,\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\nProfile Su...,Peoplesoft
2,Peoplesoft Admin_Gangareddy.doc,\r\n PeopleSoft Database ...,Peoplesoft
3,Peoplesoft Admin_Murali.docx,Murali\n\nExperience Summary \n\nI have 6 year...,Peoplesoft
4,Peoplesoft Admin_Priyanka Ramadoss.doc,"\r\nPriyanka Ramadoss\r\n\r\n61/46, MountPleas...",Peoplesoft

In [10]:
df2.describe()

,Filename,Text,Category
count,20,20,20
unique,20,20,1
top,Peoplesoft Admin_AnubhavSingh.docx,Anubhav Kumar Singh\t\t\n\n To work in a gl...,Peoplesoft
freq,1,1,20

In [11]:
df2['Text'][0]

'  Anubhav Kumar Singh\t\t\n\n  To work in a globally competitive environment on \n  challenging assignments that shall yield the \n  twin benefits of the job satisfaction and a steady-paced \n  professional growth.\n\n\n\n\n\n\n \n\n\n \n\n\n Professional Experience\n\n 06/2019 - Current\tHCL\t\t\t\t\t\t\t\t\t\t\n\t\t\tCurrent Role: System Admin Offshore\n\t\t\tSkills : Shell Scripting, Linux , PeopleSoft Administration , Github\n\nManaging PeopleSoft HCM and PeopleSoft FSCM production environments along with support environments installed on Linux and Windows OS.\nInvolved in Day to Day activities such as Project Migration, Database Refresh, System admin changes, Tax updates etc.\nTroubleshooting of various servers like application servers, Web Servers, Process Scheduler Servers.\nApplying Tuxedo and WebLogic Middleware CPU patches for various applications.\nWorking on shell scripting used as integration method for exchange of files to external systems\nInstallation and troubleshooting of 2-tier setup as per requirement.\nReviewing Vulnerabilities reported by Security Teams.\nRenewal of SSL in Weblogic.\nVulnerability remediation whenever a vulnerability is report by RMIS team.\nWorked on PUM (PeopleSoft Update Manager) and installation through DPK.\nWorking Knowledge of Ansible and Docker.\nDeveloping new Shell scripts and troubleshooting Shell Script failures.\n\n\n 07/2017- 06/2019\tTechMahindra\t\t\t\t\t\t\t\t\t\n\t\t\tRole/Project: Application Support through Automation/Devops Tools and PeopleSoft Admin\n\t\t\tSkills : Shell Scripting, Linux , PeopleSoft Administration, Jenkins, Ansible\n\t\t\t\n\t\t\tProject 1: People Tools 8.55 Upgrade & HCM 9.2 Application Upgrade\n\t\t\tProject 2: Migration of Applications from NTT Cloud and On-premises to AWS Cloud\n\nWorked on shell scripting for various application requirement.\nWorking on Ansible and Jenkins to automated start/stop and various activities of application.\nBasic knowledge of Docker.\nApplying SSL certificates on new released applications.\nWorked on Elastic Search Configuration in PeopleSoft.\nGained knowledge in AWS Resources..\nStrong understanding of Unix architecture/Command and trouble shooting in Unix/Linux platform.\nEfficient in using Configuration Management & Deployment Tool like Ansible.\nGood experience in job scheduling via crontab and IBM Tivoli Workload Scheduler (TWS).\nHaving good knowledge in automation using shell scripting \nContinuous integration management using Jenkins, installing and configuring Jenkins.\nResponsible for writing Ansible playbook to perform various task\nManaged administration tasks installation, configuration, applications, troubleshooting, and performance related issue.\nApplying Tuxedo and WebLogic CPU patches for various applications.\nWorking on Vulnerabilities reported by Security Teams.\nReviewing the platform certification information of products, platforms, database servers, web and application servers, browsers, and other products for PeopleTools 8.55.\nServer Migration to AWS (Amazon Web Service).\nInstallation of PeopleSoft server components Application Servers, Process Scheduler Servers, Tuxedo, Web logic Servers for New release PeopleTools on Unix/Linux Servers.\nApplying latest patch to PeopleTools.\nInstalling and configuring Change assistant for various upgrade passes.\nCreating and running PeopleTools Upgrade Job for PeopleTools 8.55 Upgrade.\nSetting up Performance monitor.\nCreating new app, web and process scheduler domains post upgrade on new Linux severs.\nTroubleshooting common Domain boot problems.\nIdentifying and configuring source and target databases in CA for HCM 9.2 application upgrade.\nWorking with HCM PUM Images.\nCreating Change packages using PUM and applying to Source/Target databases as per requirement.\nCreating application upgrade job using change assistant.\n\n\n 09/2015 - 07/2017\tSRDT Pvt Ltd. (SRM GROUP)\n\t\t\tRole/Project: PeopleSoft application and Database Admin\n\t\t\tSkills : PeopleSoft Administration, Weblogic, Tuxedo, App designer, PUM, PeopleTools \t\t\t\t\tUpgrade, PeopleSoft Campus Application Upgrade.\t\t\t\n\nMaintaining 7 Production Environments with 21 supporting environments installed on Windows server 2008 R2 and Oracle 11g.\nPossess through knowledge and experience in PeopleSoft architecture, administering PeopleSoft server components Application Servers, Process Scheduler Servers, Tuxedo, Web logic Servers, PIA (PeopleSoft Internet Architecture), Integration Broker, Report Nodes, application issues and technical issues.\nPeopleSoft Skills with experience in Migrations & Production support of PS Applications\nExposure in applying PeopleSoft Bundle Updates through Change Assistant.\nExposure in working on both Windows & UNIX/Linux Environments with Oracle database.\nWorking knowledge of integration broker.\nRefreshed Testing, DEV and Pre-PROD from PROD environments.\nExperience in Troubleshooting of various servers like application servers, Web Servers, Process Scheduler Servers.\nExperienced in providing 24/7 support on production and development environments.\nInstallation of Database Servers, Web servers and Application Server and PeopleSoft Application (HRMS 9.2,FSCM9.2, CS9.0, CS 9.2,HRMS 9.2) and People Tool (8.53,8.54, 8.55)\nInstalled and Configured SES (Secure Enterprise Search) for HRMS Instance.\nExperience in Installing Oracle Policy Automation, Oracle Policy Modelling and creating OPA Database in existing database (Oracle)\nImplemented Single Sign On between PeopleSoft Applications.\nImplemented PeopleSoft Interaction Hub to integrate external content and information with PeopleSoft applications.\nUpgraded People Tool 8.53 to 8.54 for Campus 9.0Production Environment.\nUpgraded People Tool 8.53 to 8.55 for Finance 9.2 Testing Environment.\nUpgraded application CS 9.0 to 9.2.\nConfigured PUM (PeopleSoft Update Manager) for every new Image.\nApplying Tax Updates, BUGS and Tailored Change Packages through PUM.\nUpgraded Oracle Database 11.2.0.1 to 11.2.0.4 using DBUA. \nCreated Instances on People Tools 8.55 to provide Testing environments.\nPrepared Upgrade Status reports and sheets.\nCo-ordinated and provided support for offshore projects.\nImported Self Signed Certificate into WebLogic to provide secure port access of Instances.\nSet up of Terminal Server to provide a Central access of People Tools for Technical/Developers.\nCreated tickets to development team and followed up with them to get the resolution for any error occurred. \n\n\n\t\t\tProjects:\n\n\t\tClient: DRDO\n\t\tProject: Single Sign On\n\t\tRole: PeopleSoft Admin\n\t\tEnvironment: People Tool 8.50, HRMS 9.1, FSCM 9.1\n\n\t\tDescription:\n\t\tSingle sign-on (SSO) is a property of access control of multiple related, but independent software \t\t\tsystems. With this property a user logs in with a single ID and password to gain access to a \t\t\tconnected system or systems without using different usernames or passwords.\n\n\n\t\tClient: NetApp\n\t\tProject: Support and Maintenance\n\t\tRole: PeopleSoft Admin/L2 Support\n\t\tEnvironment: PeopleTool 8.49, HRMS 8.9\n\n\t\tDescription:\n\t\tHandled IB related issue.\n\t\tClear process scheduler cache as per weekly maintenance process.\n\t\tHandled PSADMIN related activities.\n\n\n 11/2013 - 05/2015\tACS                                                                                                                           \n\n Personal Details\n\n\n\n\n\n\t\t\t\t\t\t\t\t\n\n\n\n\n'

In [12]:
# Function to extract text from a PDF file
def extract_text_from_pdf(pdf_path):
    text = ""
    with open(pdf_path, 'rb') as file:
        reader = PdfReader(file)
        for page_num in range(len(reader.pages)):
            text += reader.pages[page_num].extract_text()
    return text

# Function to extract text from a DOCX file
def extract_text_from_docx(docx_path):
    try:
        doc = Document(docx_path)
        text = ""
        for paragraph in doc.paragraphs:
            text += paragraph.text + "\n"
        return text
    except Exception as e:
        print(f"Error extracting text from {docx_path}: {e}")
        return ""

# Function to extract text from a DOC file
def extract_text_from_doc(doc_path):
    try:
        # Use textract to extract text from .doc files
        text = textract.process(doc_path).decode('utf-8')
        return text
    except Exception as e:
        print(f"Error extracting text from {doc_path}: {e}")
        return ""

# Function to create a DataFrame from text files in a folder
def create_dataframe_from_files(folder_path):
    data = []
    for filename in os.listdir(folder_path):
        file_path = os.path.join(folder_path, filename)
        if filename.endswith('.pdf'):
            text = extract_text_from_pdf(file_path)
        elif filename.endswith('.docx'):
            text = extract_text_from_docx(file_path)
        elif filename.endswith('.doc'):
            text = extract_text_from_doc(file_path)
        else:
            continue
        data.append({'Filename': filename, 'Text': text, 'Category': 'SQL Developer'})
    df = pd.DataFrame(data)
    return df

# Create a DataFrame from resumes in the specified folder
folder_path = 'Resumes/SQL Developer Lightning insight'
df3 = create_dataframe_from_files(folder_path)

In [13]:
df3

,Filename,Text,Category
0,Anil kumar.docx,ANIL KUMAR MADDUKURI \t\t\nSQL & MSBI Develop...,SQL Developer
1,AradhanaTripathi[4_0].docx,\nAradhana Tripathi\n\nCurrent Location: Gachi...,SQL Developer
2,Buddha Vamsi.docx,BUDDHA VAMSI ...,SQL Developer
3,kamballapradeep.docx,KAMBALLA PRADEEP ...,SQL Developer
4,Nazeer Basha.doc,"\r\n\r\n\r\n\r\n\r\n "" Hyderabad\r\nNazeer Bas...",SQL Developer
5,Neeraj Mishra.docx,\n Res...,SQL Developer
6,premsai.docx,SQL DEVELOPER\nName: - Bandi prem sai\n\n\nW...,SQL Developer
7,Priyanka L.doc,\r\n SQL...,SQL Developer
8,PSyamKumar[2_3].docx,SQL SER...,SQL Developer
9,Rajupavanakumari[2_10].docx,RAJU PAVANA KUMARI\n\n\nProfessional Summary:...,SQL Developer
10,Ramalakshmi K.docx,resume\n\n...,SQL Developer
11,RameshNataru[3_4].docx,Name: Ramesh\n\nCareer Objective: \n ...,SQL Developer
12,Tatikonda Kiran Kumar.doc,\r\n\r\nCareer objective\r\n\r\n\r\nA rewardin...,SQL Developer
13,Vinod B.docx,B. vinod kumar\n\nOBJECTIVE:\nWilling to work ...,SQL Developer

In [14]:
df3.head()

,Filename,Text,Category
0,Anil kumar.docx,ANIL KUMAR MADDUKURI \t\t\nSQL & MSBI Develop...,SQL Developer
1,AradhanaTripathi[4_0].docx,\nAradhana Tripathi\n\nCurrent Location: Gachi...,SQL Developer
2,Buddha Vamsi.docx,BUDDHA VAMSI ...,SQL Developer
3,kamballapradeep.docx,KAMBALLA PRADEEP ...,SQL Developer
4,Nazeer Basha.doc,"\r\n\r\n\r\n\r\n\r\n "" Hyderabad\r\nNazeer Bas...",SQL Developer

In [15]:
df3.describe()

,Filename,Text,Category
count,14,14,14
unique,14,14,1
top,Anil kumar.docx,ANIL KUMAR MADDUKURI \t\t\nSQL & MSBI Develop...,SQL Developer
freq,1,1,14

In [16]:
df3['Text'][0]

'ANIL KUMAR MADDUKURI  \t\t\nSQL & MSBI Developer   \n\n\t\n\nSummary\n\n2.4 years of experience in MS SQL Server (SSMS) and creating SSIS packages, SSRS Reports by using Microsoft Business Intelligence (MSBI) tools.\nExpertise in various types of Joins and Sub Queries for writing complex queries involving multiple tables.\nHandled data manipulation and data consistency by creating Views, Triggers, and Synonyms.\nHands on experience in creation, optimization and debugging Stored Procedure and Functions.\nFamiliar in writing queries using CTE, Temporary Tables and Table Variables.\nGood experience in using Set Operators like Union, Union All, Except and Intersect to assist required data.\nExperience in manipulate the data from multiple table and report to the client using Aggregate Functions, Windows Functions and String Functions.\nWorked extensively on Data Extraction, Transformation and Loading (ETL) process in SQL Server Integration Services.\nUsed containers such as for each loop container and sequence container to load the data from multiple source file to Database tables.\nExpertise in using tasks like  Data flow Task, Execute SQL task ,Control Flow task Execute package task, Execute Process task, Bulk insert Task,  Sends Mail task and FTP Task and Script task at the control flow level .\nExperience in using Data conversion,OLEDB command, Row count, Union All, Derived Column, Merge, Merge Join, Fuzzy lookup, Conditional Split and various other Transformation to manipulate data in SSIS package at the Data Flow Level for moving typical data from source to destination.\nImplemented SSIS Loggings, check-points Break points and package configurations source system to another source system and ETL operations.\nGood experience in developing Table Reports, Sub Reports, Matrix Reports, Drill down Reports, Drill through Reports using SQL Server Reporting Services.\nInvolved in Linked reports, Cache reports, and Snapshot reports in report manager level.\nExpertise in performing backup and restore the database.\nCreated Indexes like Clustered Index and Non-Clustered Index to improve the performance.\n\nTechnical Skills\nLanguages\t           :  SQL, T-SQL\nRDBMS\t           :  SQL Server 2016/2012/2008 \nETL Tools\t           :  SQL Server Integration Services (SSIS)\nReporting Tools         :  SQL Server Reporting Tools (SSRS)\n\nProfessional Experience\nCurrently working as Software Engineer in Imagine Technology\xa0and Services Pvt. Ltd \n       Since 2019 to till date.\nProject Experience\nProject\t\t\t:  Health Insurance\nClient\t\t\t:  Aetna, USA\nEnvironment\t\t:  MS SQL SERVER 2016, SSIS, SSRS, Visual Studio 2015 \nDuration\t\t:  April 2019 to Till Date\n\nDescription: \nThis project is developed for Aetna Insurance. This is an American managed health care company sells traditional and consumer directed health care insurance and related services, Such as medical, dental, long-term care, and disability plans, primarily through employer-paid (fully or partly) insurance and benefit programs. The main goal of this project Implementing Customer Information into Database and Developing mechanism to revert data from database. \nResponsibilities: \n\nCreate/update indexes, views, Stored Procedures, user defined functions, common table expressions (CTEs) and Triggers. \nDevelop SSIS Packages by extracting data from diversified sources like Excel, CSV, flat file, Text and load into staging area.\nUse transformations like Aggregate, Conditional Split, Derived Columns, Row Count, Merge and Merge Join, Multicast, Slowly Changing Dimension to manipulate data in data flow level\nImplement event handlers for the packages, maintain log information and provide checkpoints in SSIS level. \nDesign packages in control flow levels based on tasks like Data Flow Task, Execute SQL Task, FTP tasks and used For Each Loop Container, Sequential Container.\nGenerate reports in the form of Matrix, Table by using SSRS from SQL Server Database and included various reporting features such as drilldown, drill through, sub reports. \nInvolved in setting up SQL Server Agent Jobs for periodic Backups with backup devices, database maintenance plans and recovery.\nMaintained / managed database agent jobs, check for failures and resolve failure issues.\nUsed SQL Profiler and query tuning Wizard to troubleshoot problems and queries.\n\nEducation\nB.Tech - Velagapudi siddhartha engineering college,Vijayawada\n\n'

In [17]:
# Function to extract text from a PDF file
def extract_text_from_pdf(pdf_path):
    text = ""
    with open(pdf_path, 'rb') as file:
        reader = PdfReader(file)
        for page_num in range(len(reader.pages)):
            text += reader.pages[page_num].extract_text()
    return text

# Function to extract text from a DOCX file
def extract_text_from_docx(docx_path):
    try:
        doc = Document(docx_path)
        text = ""
        for paragraph in doc.paragraphs:
            text += paragraph.text + "\n"
        return text
    except Exception as e:
        print(f"Error extracting text from {docx_path}: {e}")
        return ""

# Function to extract text from a DOC file
def extract_text_from_doc(doc_path):
    try:
        # Use textract to extract text from .doc files
        text = textract.process(doc_path).decode('utf-8')
        return text
    except Exception as e:
        print(f"Error extracting text from {doc_path}: {e}")
        return ""

# Function to create a DataFrame from text files in a folder
def create_dataframe_from_files(folder_path):
    data = []
    for filename in os.listdir(folder_path):
        file_path = os.path.join(folder_path, filename)
        if filename.endswith('.pdf'):
            text = extract_text_from_pdf(file_path)
        elif filename.endswith('.docx'):
            text = extract_text_from_docx(file_path)
        elif filename.endswith('.doc'):
            text = extract_text_from_doc(file_path)
        else:
            continue
        data.append({'Filename': filename, 'Text': text, 'Category': 'Workday'})
    df = pd.DataFrame(data)
    return df

# Create a DataFrame from resumes in the specified folder
folder_path = 'Resumes/workday resumes'
df4 = create_dataframe_from_files(folder_path)

In [18]:
df4

,Filename,Text,Category
0,ChinnaSubbarayuduM_Hexaware.docx,Chinna Subbarayudu M\nDOB: 06th March 1994\nNa...,Workday
1,Gopi Krishna_Hexaware.docx,\t\n\n\nName : Gopi Krishna Reddy\n\t\...,Workday
2,Hari Krishna M_Hexaware.doc,\r\n Hari Krishn...,Workday
3,Harikrishna Akula_Hexaware.doc,\r\nHarikrishna Akula\r\n\r\n\r\n\r\n Summary:...,Workday
4,Hima Mendu_Hexaware.doc,\r\nHIMA.MENDU\r\n\r\n\r\n\r\nCareer Objective...,Workday
5,Himaja G_(Hexaware).docx,\n ...,Workday
6,J. Sumanth Royal_Hexaware.doc,\r\n[pic] Na...,Workday
7,Jyotiverma_Heaware.docx,\n\nJYOTI VERMA\t\t\t\t\t\n\n\n\n3 years of Ex...,Workday
8,Madeeswar A_Hexaware.doc,\r\n\r\n Madeeswar...,Workday
9,MooraboyinaGuravaiah_Hexaware.docx,\n\nMooraboyina Guravaiah\nWorkday Integration...,Workday
10,Naresh Babu Cherukuri_Hexaware.doc,\r\nName : Naresh Babu Cherukuri\r\n\r\n\r\nO...,Workday
11,P V Sai Krishna_ Hexaware.docx,VENKATA SAIKRISHNA\n Workday Consultant\n\n\nP...,Workday
12,Punugoti Swetha_Hexaware.doc,\r\n [pic]\r\n [pic]\r\n\r\n . 3.3 years ...,Workday
13,RahulM_Hexaware.docx,Rahul (Techno Functional Consultant) \nProfe...,Workday
14,RameshP_Hexaware.docx,Ramesh A\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...,Workday
15,ShireeshKumar_Hexaware.doc,\r\nShireesh ...,Workday
16,Sri Krishna S_Hexaware.doc,\r\n Workday Integration Consultant\r\n\r...,Workday
17,Srikanth-Hexaware.docx,Seeking suitable positions in Workday HCM as ...,Workday
18,SSKumar_Hexaware.docx,\nWORKDAY | HCM | FCM\nName \t\t: Kumar S.S\nR...,Workday
19,Venkateswarlu B_Hexaware.doc,\r\nVenkateswarlu.B ...,Workday
20,Vinay Kumar_Hexaware.docx,...,Workday

In [19]:
df4.head()

,Filename,Text,Category
0,ChinnaSubbarayuduM_Hexaware.docx,Chinna Subbarayudu M\nDOB: 06th March 1994\nNa...,Workday
1,Gopi Krishna_Hexaware.docx,\t\n\n\nName : Gopi Krishna Reddy\n\t\...,Workday
2,Hari Krishna M_Hexaware.doc,\r\n Hari Krishn...,Workday
3,Harikrishna Akula_Hexaware.doc,\r\nHarikrishna Akula\r\n\r\n\r\n\r\n Summary:...,Workday
4,Hima Mendu_Hexaware.doc,\r\nHIMA.MENDU\r\n\r\n\r\n\r\nCareer Objective...,Workday

In [20]:
df4.describe()

,Filename,Text,Category
count,21,21,21
unique,21,21,1
top,ChinnaSubbarayuduM_Hexaware.docx,Chinna Subbarayudu M\nDOB: 06th March 1994\nNa...,Workday
freq,1,1,21

In [21]:
df4['Text'][0]

'Chinna Subbarayudu M\nDOB: 06th March 1994\nNationality: Indian\n\t\nPROFILE SUMMARY:\n\nHaving around 5.1 years of IT experience in developing and Implementation of ERP technology by using Workday HCM and ETL (informatica) technologies.\n3.6 years of experience as Workday Integration Consultant and involved in a maintenance and implementation.\nExperience in all phases in Workday like requirements gathering, Analysis, Design, Development and Testing.\nHands on experience in inbound/ outbound integrations using core connector, Workday studio, managing business processes, working with EIB, report writer.\nDeveloped and maintained custom-report types (Advanced, Matrix, Composite) using report writer tool.\nInvolved in transformation of XML into XSLT for presenting data for different web Services.\nBuilding Workday Integration (EIB), calculated fields, Custom Reports and Writing XSLT transformation code.\nDeveloped testing\xa0strategies and validation scenarios along with project Scope and Requirement documents\nPrioritizing, reproducing and verifying bug fixes in different Workday integrations.\nHaving knowledge in XML, WD-SOAP Web Service, and WD- REST Web Service and experienced in using tools such as Soap, XML Exchanger\nInvolved in writing transformation code for converting XML into XSLT\nfor different web services.\nPerformed validation testing and end to end testing and also involved in integration testing\nHaving good experiences in testing, we perform UAT and end to end validation testing\nKnowledge in Software Development Life Cycle process (Analysis, Design, Development, Testing) for Implementation and Support in different application domain.\nExperience of working in Production support model.\nExcellent client interaction skills and proven experience in working independently as well as in a team.\n\nTECHNICAL SKILLS:\n\n\nEducation Details:\nBsc(Computers) from Yogi Vemana University,Kadapa.\nWork Experience:\nWorking as a Workday Technical Consultant for Progile Infotech pvt ltd  from June - 2016 to till date.        \nProjects under taken:\n\n\nClient: South West Airlines                                                                                   June2019- Present\nRole: Workday Technical  Consultant\n\nResponsibilities:\nIntegrations in Workday using different tools like CCW, EIB, DT, Custom Report and Workday Studio, Responsible for developing Integrations and testing them.\nResponsible for supporting the new change requests and enhancements in the project\nCreated calculated fields and Worked on Simple and Advanced Reports.\nWorked on Integration Systems (EIBs, Core Connectors).\nDay to day support of Workday Integrations, Security, and Reporting issues.\nHad knowledge on hire, terminate, data changes etc. of employees\nExpertise in developing Payroll interfaces using PICOF, PECI with the help of Workday Studio and Document Transformation to meet clientâ€™s complex payroll requirements.\nDesign of web services to send/receive data between Workday and Third party system.\nDeveloped analytics dashboards utilizing multiple data sources to provide actionable reporting and embedded analytics.\nExperienced in analyzing and preparing Project Deliverables such as Technical Design Document (TDD) and Functional Design Document (FDD).\nCreated test scripts and coordinated the testing\xa0effort with all the stakeholders for System and UAT. \n\n\nClient:  Arbella Insurance Group\t\t\t\t                                Dec2017â€“ May2019\nRole:  Workday Integration Consultant\n\nResponsibilities:\nAnalyzed clientâ€™s HCM/Payroll business needs through client working sessions and supported development of new business processes and a future state design.\nWorked as an Integration Developer for Analysis, design, development, testing and implementation of Workday HCM solutions for Global Implementation in GE. \nPerformance Tuning in Population (2 lakh employees) and Complexity Perspective.\nCreated Multiple CCW Integrations for Demographical data with DT, EIBs with reports\nSupported on both Inbound and Outbound Studio Integrations, Created security groups, users and configured required security policies in Domain and BP level..\nUtilize in-depth knowledge of functional and Technical experience in Workday and other leading-edge products and technology in conjunction with industry and business skills to deliver solutions to customer.\nBuilt Integrations in Workday using different tools like CCW, EIB, and Reports. Identifying Testing strategy getting sign-off on all project deliverables.\nCollaborate with the ST (System Testing) and UAT (User Acceptance Testing) teams to test the integration builds. Fix issues encountered in ST and UAT phase.\nDeveloped Several Complex Integrations using Workday Studio and EIB.\nDay to day support of Workday HCM, Security, Payroll, Benefits, Compensation and Reporting issues\nInvolved in the design phase and prototyping for further discussions with the client.\nCreated and used calculated fields in reporting, business processes, integrations and other areas within Workday.\n\nClient:  News Technologies  \t\t\t          \t\t\t     June 2016 â€“Nov 2017\nRole:  Peoplesoft Consultant          \n\nResponsibilities:\n\nInvolved in design and customization of tables and panels and adding new option using People Tools.\nResponsible for Test Plan, Defect Report Status, and Knowledge Transfer Documents.\nUploading the test scripts from MS Excel to Test Director.\nDeveloped and executed the SQL queries to fetch the data from PeopleSoft HRMS (Oracle).\nThe fetched data has to be analyzed against the bridge database and it should be reported if there is any deviation.\nIntegrated third party hiring application with PeopleSoft System using Component Interface program and loaded data into PS tables.\nUnit tested the developed application and created test scripts and test cases for the Unit Testing and System Testing\nDeclaration:\n                  I hereby declare that the information provided above is true to the best of my knowledge.\n\n\nDate : \t\t\t\t\t\t\t\t\tName: M Chinna Subbarayudus\n\n'

In [23]:
# Concatenate DataFrames
df = pd.concat([df1, df2, df3, df4], ignore_index=True)

In [27]:
df.head()

,Filename,Text,Category
0,Internship_Ravali_Musquare Technologies (1).docx,Name: Ravali P \n\n ...,React JS Developer
1,Internship_Susovan Bag_Musquare Technologies.docx,\nSUSOVAN BAG \nSeeking a challenging ...,React JS Developer
2,React Developer_Deepakreddy.docx,Kanumuru Deepak Reddy\n\n\n\nCAREER OBJECTIVE:...,React JS Developer
3,React Developer_Haripriya.docx,HARIPRIYA BATTINA \nExperience as UI Developer...,React JS Developer
4,React Developer_Kamalakar Reddy.docx,KAMALAKAR REDDY. A \nLinked In: https://www.li...,React JS Developer

In [30]:
df.sample(10)

,Filename,Text,Category
10,React Developer_Vinay Reddy.doc,\r\nMaryala Vinay Reddy\r\n\r\nProfessional Su...,React JS Developer
39,Peoplesoft FSCM_Murali.docx,\nHaving 4.6 years of experience in PeopleSoft...,Peoplesoft
57,Vinod B.docx,B. vinod kumar\n\nOBJECTIVE:\nWilling to work ...,SQL Developer
54,Ramalakshmi K.docx,resume\n\n...,SQL Developer
7,React Developer_Pragnya.docx,\nPRAGNYA PATTNAIK\n \n \n \n Expertise: \n \...,React JS Developer
27,Peoplesoft Admin_Murali.docx,Murali\n\nExperience Summary \n\nI have 6 year...,Peoplesoft
0,Internship_Ravali_Musquare Technologies (1).docx,Name: Ravali P \n\n ...,React JS Developer
6,React Developer_PavasGoswami.doc,\r\n [pic]\r\n\r\nPROFILE\r\n\r\n Searching fo...,React JS Developer
14,React JS Developer_KotaniDurgaprasad[3_1] (1)-...,Kotani Durga Prasad\n\n\nObjective:\n\nAspiran...,React JS Developer
40,Peoplesoft FSCM_PriyabrataHota.docx,\n\nCAREER OBJECTIVE\t\t\n\nPursuing Peopleso...,Peoplesoft

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Filename  79 non-null     object
 1   Text      79 non-null     object
 2   Category  79 non-null     object
dtypes: object(3)
memory usage: 2.0+ KB

In [29]:
df.duplicated().sum()

0

In [43]:
# Export dataframe into CSV format
df.to_csv('Resume.csv', index=False)